body {
  background-image: url("../images/wood-grain.jpg");
  background-size: 100%;
}

header, footer {
  padding: 25px;
  text-align: center;
  color: #0e7001;
  text-shadow: 1px 1px 1px #000;
}
  header {
    margin-bottom: 25px;
  }
  header h1 {
    font-size: 48px;
  }

h2 {
  font-size: 32px;
}

/* #carousel {
  margin: 0 auto;
  width: 75%;
} */
  #carousel img {
    width: 100%;
    height: 500px;
  }

footer a {
  margin: 10px 0;
}
